.car {
    margin-top: 20rem !important;
    margin-left: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;


}

.Ahom {
    margin-left: 3rem;
    transform: scale(1.1);
    margin-top: 2rem;
}

.home {
    transform: scale(2);
    margin-left: 2rem;
    display: inline-flex;
}

h1 {
    color: yellow;
    z-index: 100;
    font-size: 4rem;
}

.back {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.7)), url("./image.jpg");
    height: 123vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    object-fit: cover;

    margin-top: -150px;
    position: absolute;

    @media screen and (max-width: 800px) {

        .left,
        .main,
        .right {
            width: 100%;
            /* The width is 100%, when the viewport is 800px or smaller */
        }
    }
}

#emailHelp {
    color: white;
}

.log {
    position: absolute;
    margin-top: -6rem;
    margin-left: 27rem;
    font-family: 'Lobster', cursive;



}

.brand {
    position: absolute;
    margin-top: -17rem;
    margin-left: -20rem;
    transform: scale(0.4);
    width: 35%;
    display: inline-flex;

}

.Admin {
    position: absolute;
    width: 150px;
    flex-direction: row;
    margin-left: 180rem;
    margin-top: -28rem;
    margin-bottom: 5rem;
    transform: scale(2.5);
    color: yellow;

}